annotated-types==0.7.0
anyio==4.9.0
argcomplete==3.6.2
attrs==25.1.0
Beaker==1.12.1
beautifulsoup4==4.13.4
blivet==3.12.1
blivet-gui==2.6.0
boto3==1.38.19
botocore==1.38.19
Brlapi==0.8.6
Brotli==1.1.0
certifi==2024.8.30
cffi==1.17.1
chardet==5.2.0
charset-normalizer==3.4.1
click==8.1.7
cockpit @ file:///builddir/build/BUILD/cockpit-338-build/cockpit-338/tmp/wheel/cockpit-338-py3-none-any.whl#sha256=dffd0430af16a3846dc473fecd8953aa2aec67072dfc968696bfcd1181f82ee3
contourpy==1.3.2
crypt_r==3.13.1
cryptography==44.0.0
cssselect==1.2.0
cupshelpers==1.0
cycler==0.12.1
dasbus==1.7
dbus-python==1.3.2
dbus_next==0.2.3
distro==1.9.0
dnf==4.23.0
Faker==37.3.0
fastapi==0.115.12
fedora-third-party==0.10
file-magic==0.4.0
filelock==3.18.0
fonttools==4.58.0
fros==1.1
fsspec==2025.5.0
h11==0.16.0
humanize==4.12.0
i3ipc==2.2.1
idna==3.10
iso639==0.1.4
Jinja2==3.1.6
jmespath==1.0.1
jsonschema==4.23.0
jsonschema-specifications==2024.10.1
kiwisolver==1.4.8
langtable==0.0.68
libcomps==0.1.21
libdnf==0.74.0
louis==3.33.0
lxml==5.3.2
Mako==1.2.3
Markdown==3.7
MarkupSafe==3.0.2
matplotlib==3.10.3
mercurial==6.9.5
meson==1.7.0
mpmath==1.3.0
mutagen==1.47.0
netifaces==0.11.0
networkx==3.4.2
nftables==0.1
numpy==2.2.6
nvidia-cublas-cu12==12.6.4.1
nvidia-cuda-cupti-cu12==12.6.80
nvidia-cuda-nvrtc-cu12==12.6.77
nvidia-cuda-runtime-cu12==12.6.77
nvidia-cudnn-cu12==9.5.1.17
nvidia-cufft-cu12==11.3.0.4
nvidia-cufile-cu12==1.11.1.6
nvidia-curand-cu12==10.3.7.77
nvidia-cusolver-cu12==11.7.1.2
nvidia-cusparse-cu12==12.5.4.2
nvidia-cusparselt-cu12==0.6.3
nvidia-nccl-cu12==2.26.2
nvidia-nvjitlink-cu12==12.6.85
nvidia-nvtx-cu12==12.6.77
nwg-displays==0.3.25
nwg-panel==0.10.2
olefile==0.47
opencv-python==4.11.0.86
packaging==24.2
pandas==2.2.3
Paste==3.10.1
pdf2image==1.17.0
perf==0.1
pexpect==4.9.0
pid==2.2.3
pillow==11.1.0
ply==3.11
productmd==1.45
progressbar2==4.5.0
psutil==6.1.1
ptyprocess==0.7.0
pwquality==1.4.5
py-cpuinfo==9.0.0
pycairo==1.25.1
pycparser==2.20
pycrypto==2.6.1
pycryptodomex==3.21.0
pycups==2.0.4
pydantic==2.11.5
pydantic_core==2.33.2
pyenchant==3.2.2
PyGObject==3.50.0
pyinotify==0.9.6
pykickstart==3.62
pyOpenSSL==25.0.0
pyparsing==3.2.3
pyparted==3.13.0
pyquery==2.0.1
PySocks==1.7.1
pytesseract==0.3.13
python-augeas==1.1.0
python-dateutil==2.8.2
python-linux-procfs==0.7.3
python-meh==0.52
python-pam==2.0.2
python-utils==3.9.0
python-xlib==0.33
pytz==2025.2
pyudev==0.24.3
pyxdg==0.27
PyYAML==6.0.2
pyynl @ file:///builddir/build/BUILD/kernel-6.14.6-build/kernel-6.14.6/linux-6.14.6-300.fc42.x86_64/tools/net/ynl
RapidFuzz==3.11.0
referencing==0.36.2
regex==2024.11.6
reportlab==4.4.1
requests==2.32.3
requests-file==2.0.0
requests-ftp==0.3.1
rpds-py==0.24.0
rpm==4.20.1
rpmautospec==0.8.1
rpmautospec-core==0.1.5
s3transfer==0.12.0
scipy==1.15.3
selinux @ file:///builddir/build/BUILD/libselinux-3.8-build/libselinux-3.8/src
sepolicy @ file:///builddir/build/BUILD/policycoreutils-3.8-build/selinux-3.8/python/sepolicy
setools==4.5.1
setuptools==74.1.3
simpleaudio==1.0.4
simpleline==1.9.0
six==1.17.0
sniffio==1.3.1
sos==4.9.1
soupsieve==2.7
starlette==0.46.2
sympy==1.14.0
systemd-python==235
torch==2.7.0
torchvision==0.22.0
tqdm==4.67.1
triton==3.3.0
typing-inspection==0.4.1
typing_extensions==4.12.2
tzdata==2025.2
ultralytics==8.3.143
ultralytics-thop==2.0.14
urllib3==2.3.0
uvicorn==0.34.2
websockets==14.1
xkbregistry==0.3
yt-dlp==2025.3.31
