# Virtual environments
env/
venv/
yolovenv/

# Python cache
*.pyc
__pycache__/

# PDF and image files (outputs or tests)
*.pdf
*.png
*.jpg
*.jpeg
*.gif
*.bmp


# Dataset directories and generated data
/data/*
!/data/runs/           # Keep the YOLO run results (model weights)
/data/runs/*
!/data/**/*.yaml
!/data/**/*.txt
!/data/**/*.md

# Any .save or temporary files
*.save
*.tmp

# OS-specific files
.DS_Store
Thumbs.db

# IDE settings
.vscode/
.idea/

# Mac/Linux swap/backup files
*~
*.swp
*.swo
*.bak
