# Ignore Python virtual environment folder
env/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Ignore environment variable files
.env
*.env

# Ignore IDE/editor files
.vscode/
.idea/
*.swp

# Ignore system files
.DS_Store
Thumbs.db

# Ignore logs and databases
*.log
*.sqlite3

# Ignore pycache folders
**/__pycache__/
